//
// Vars
//
$light-grey: #f1f1f1;

.tenup-prime-cat {
  margin-top: 12px;
  border: 1px solid #e2e4e7;

  input {
    &[type="radio"],
    &[type="checkbox"] {
      display: none;
    }
  }

  span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__title {
    padding: 8px;
    position: relative;
    user-select: none;
    color: #191e23;
    font-weight: 500;
    font-size: 0.9em;
    display: flex;

    &-current-selection{
      opacity: 0.7;
      font-size: 0.8em;
      max-width: 150px;
      margin-left: 5px;
    }

    &:hover{
      background-color: #f8f9f9;
    }

    &-arrow {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      display: block;

      svg {
        fill: currentColor;
        max-width: 20px;
        margin-top: 4px;
        transform: rotate(180deg);
      }
    }
  }

  &__pills {
    padding: 8px;
    overflow: hidden;
    display: none;

    span {
      padding: 3px 8px;
      font-size: 0.8em;
      text-align: center;
      text-decoration: none;
      float: left;
      max-width: 100%;
      margin: 4px 2px;
      border-radius: 12px;
      background-color: $light-grey;
      border: 1px solid #e2e4e7;
      transition: background-color 0.2s, color 0.4s;
    }

    input[type="radio"]:checked + span {
      background-color: #11a0d2;
      border: 1px solid #0073aa;
      color: white;
    }
  }

  input[type="checkbox"] {
    &:checked ~ {
      .tenup-prime-cat__pills {
        display: block;
      }

      .tenup-prime-cat__title {
        .tenup-prime-cat__title-current-selection{
          opacity: 0.4;
        }
        svg {
          transform: rotate(0);
        }
      }
    }
  }
}
